<%= form_with model: user do |form| %>
  <div>
    <% user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, placeholder: "Your Username here" %><br>

  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: "Example@example.com" %><br>

  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %><br>

  <%= form.submit "Create" %>
<% end %>